name: CI

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**.md' 
  pull_request:
    branches:
      - '*'

jobs:
  ubuntu2004:  
    runs-on: ubuntu-latest
    container:
      image: "ubuntu:20.04"
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true
    - name: Dependencies
      run: |
        apt-get update
        apt-get install -y sudo        
        sudo apt-get update
        sudo apt-get install -y wget
        wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
        sudo dpkg -i packages-microsoft-prod.deb
        sudo apt-get update
        sudo apt-get install -y apt-transport-https
        sudo apt-get update
        sudo apt-get install -y dotnet-sdk-3.1
        sudo apt-get install -y gnupg ca-certificates
        sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        echo "deb https://download.mono-project.com/repo/ubuntu stable-focal main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
        sudo apt-get update
        sudo apt-get install -y sed git build-essential intltool fsharp gtk-sharp2
    - name: Configure and build
      run: |
        ./configure --profile=gnome
        make    

  ubuntu1804:  
    runs-on: ubuntu-latest
    container:
      image: ubuntu:18.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true
    - name: Dependencies
      run: |
        apt-get update
        apt-get install -y sudo        
        sudo apt-get update
        sudo apt-get install -y wget
        wget https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
        sudo dpkg -i packages-microsoft-prod.deb
        sudo apt-get update
        sudo apt-get install -y apt-transport-https
        sudo apt-get update
        sudo apt-get install -y dotnet-sdk-3.1
        sudo apt-get install -y gnupg ca-certificates
        sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        echo "deb https://download.mono-project.com/repo/ubuntu stable-bionic main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
        sudo apt-get update
        apt-get install -y sed git build-essential intltool fsharp gtk-sharp2
    - name: Configure and build
      run: |
        ./configure --profile=gnome
        make    

  ubuntu1604:  
    runs-on: ubuntu-latest
    container:
      image: ubuntu:16.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true
    - name: Dependencies
      run: |
        apt-get update
        apt-get install -y sudo        
        sudo apt-get update
        sudo apt-get install -y wget
        wget https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
        sudo dpkg -i packages-microsoft-prod.deb
        sudo apt-get update
        sudo apt-get install -y apt-transport-https
        sudo apt-get update
        sudo apt-get install -y dotnet-sdk-3.1
        sudo apt-get install -y gnupg ca-certificates
        sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        echo "deb https://download.mono-project.com/repo/ubuntu stable-xenial main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
        sudo apt-get update
        apt-get install -y sed git build-essential intltool fsharp gtk-sharp2
    - name: Configure and build
      run: |
        ./configure --profile=gnome
        make    
